<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Noturna</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="game-container">
        <div id="background-layer">
            <div id="moon"></div>
        </div>

        <div id="world"></div>

        <div id="ui-layer">
            <div id="paper-counter" class="hidden">Páginas: <span id="count">0</span>/15</div>
            <div id="dialogue-box" class="hidden"></div>
            <div id="interaction-prompt" class="hidden">Pressione [E]</div>
        </div>

        <div id="black-screen" class="hidden">
            <div id="intro-text"></div>
        </div>

        <div id="start-screen">
            <div class="menu-content">
                <h1>REPROVADO</h1>
                <div class="f-grade">F</div>
                <p>Escola Estadual Sombria</p>
                <button id="btn-start">COMEÇAR</button>
            </div>
        </div>

        <div id="game-over-screen" class="hidden">
            <h1>VOCÊ MORREU</h1>
            <button onclick="location.reload()">Recomeçar</button>
            <button onclick="location.reload()">Voltar ao Menu</button>
        </div>
    </div>

    <audio id="audio-inicial" src="inicial.mp3" loop></audio>
    <audio id="audio-vinhas" src="player/vinhas.mp3"></audio>
    <audio id="audio-grito" src="player/grito.mp3"></audio>
    <audio id="audio-janela" src="player/janela.mp3"></audio>
    <audio id="audio-passos-monster" src="monster/passosmonster.mp3" loop></audio>
    <audio id="audio-monster-ataque" src="monster/monsterataque.mp3"></audio>
    <audio id="audio-player-dead" src="player/playerdead.mp3"></audio>

    <script src="script.js"></script>
</body>
</html>
